@use "../../scss/variables" as *;

.job-details {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  &__bg-container {
    background-color: #fff;
    padding: 0 32px;
    border-radius: 6px;
    transform: translateY(-40px);
    &:nth-of-type(2) {
      padding: 40px 24px;
    }
  }
  &__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transform: translateY(-25px);
    &-logo {
      padding: 19px 5px;
      border-radius: 16px;
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 8px;
    }
    &-name {
      font-size: 20px;
      color: $slate-900;
    }
    &-website {
      font-size: 1rem;
      color: $slate-500;
    }
    &-website-link {
      font-weight: bold;
      font-size: 16px;
      background-color: $indigo-500-opaque;
      color: $indigo-500;
      border: none;
      padding: 16px 20px;
      border-radius: 6px;
    }
  }
  &__info {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &-header {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-contract {
      color: $slate-500;
      line-height: 162%;
      display: flex;
      align-items: center;
      gap: 12px;
    }
    &-position {
      font-size: 20px;
      font-weight: bold;
      line-height: 125%;
    }
    &-location {
      color: $indigo-500;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
    }
    &-description {
      color: $slate-500;
      line-height: 162%;
    }
  }
  &__action-btn {
    margin-top: 52px;
    font-weight: bold;
    font-size: 16px;
    background-color: $indigo-500;
    color: $white;
    border: none;
    padding: 16px 20px;
    border-radius: 6px;
  }
}
