@use "../../scss/variables" as *;

.filter {
  grid-area: 2 / 1 / 3 / 3;
  transform: translateY(30px);
  position: relative;
  &__input {
    width: 100%;
    height: 80px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    &::placeholder {
      opacity: 0.7;
    }
  }
  &__filter-btn {
    position: absolute;
    top: 31px;
    right: 60px;
    background-color: transparent;
    border: none;
  }
  &__search-btn {
    background-color: $indigo-500;
    position: absolute;
    padding: 0.40rem;
    top: 25px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
  }
}