@use "../../scss/variables" as *;

.filter {
  position: relative;
  &__input {
    width: 100%;
    height: 80px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    &::placeholder {
      opacity: 0.7;
    }
  }
  &__filter-btn {
    position: absolute;
    top: 31px;
    right: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__search-btn {
    background-color: $indigo-500;
    position: absolute;
    padding: 0.4rem;
    top: 25px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.dialog {
  margin: auto;
  border: none;
  border-radius: 6px;
  &__container{
    display: flex;
    flex-direction: column;
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.384);
  }
  &__divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.205);
  }
  &__location-filter {
    position: relative;
    &-icon {
      width: 16px;
      position: absolute;
      top: 20px;
      left: 22px;
    }
    &-input {
      padding: 1.5rem 1.5rem 1.5rem 3.25rem;
      border: none;
      display: flex;
      cursor: pointer;
    }
    &-option {
      padding: 0;
      font-size: 1rem;
      cursor: pointer;
      &-disabled {
        color: $slate-500;
        font-size: 1rem;
      }
    }
  }
  &__contract-label {
    margin: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  &__button {
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 12px;
    background-color: $indigo-500;
    color: $white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
}
