@use "../../../../scss/variables" as *;

.job {
    padding: 21px 32px;
    background-color: $white;
    border-radius: 6px;
    position: relative;
    transition: filter .3s ease;
    &:hover {
      filter: brightness(90%);
    }
    img {
      background-color: $orange;
      padding: 19px 5px;
      border-radius: 16px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -25px;
      object-fit: contain;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 24px;
      &-createdAt {
        color: $slate-500;
        display: flex;
        align-items: center;
        gap: 12px;
      }
      &-title {
        font-size: 20px;
      }
      &-company {
        color: $slate-500;
      }
      &-location {
        margin-top: 28px;
        font-size: 14px;
        font-weight: bold;
        color: $indigo-500;
      }
    }
    
  }
