.header {
  padding: 32px 24px;
  background: url('../../assets/mobile/bg-pattern-header.svg');
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 136px;
  &__toggle-theme {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__theme-btn {
    display: flex;
    background: none;
    align-items: center;
    border: none;
    &:nth-of-type(1) {
      img {
        width: 20px;
      }
    }
    &:nth-of-type(2) {
      img {
        width: 18px;
      }
    }
  }
}