.header {
  padding: 32px 24px;
  background: url('../../assets/mobile/bg-pattern-header.svg');
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__toggle-theme {
    display: flex;
    align-items: center;
  }
}