$black: #000000;
$white: #FFFFFF;
$slate-950: #121721;
$slate-900: #19202D;
$slate-500: #6E8098;
$slate-300: #9DAEC2;
$slate-100: #F4F6F8;
$indigo-500: #5964E0;
$indigo-500-opaque: #5964e04d;
$indigo-300: #939BF4;
$orange: #E99210;

$kumbh-sans: "Kumbh Sans", sans-sefif;


